oauthlib
openai
opencv-python
opencv-python-headless
pandas
pdf2image
python-dateutil
poppler-utils
py-zerox
PyPDF2
pytesseract
proto-plus                        
protobuf                                              
ptyprocess                      
